<!-- Si da error al cargar cosas desde el servidor -->
<!-- o si el usuario no tiene internet -->
<div class="rounded mb-0 border border-primary">

  <div class="row pr-lg-5">
    <div class="col-md-7 mb-4 mt-3">

      <div class="view">
        <img src="https://cdn.dribbble.com/users/149078/screenshots/5570098/websiteerror408.png" class="img-fluid"
          alt="smaple image">
      </div>

    </div>
    <div class="col-md-5 d-flex align-items-center">
      <div>

        <h3 class="h3 mb-4 indigo-text">Servicio Fuera de Linea</h3>

        <p>Lorem ipsum dolor sit amet consectetur adip elit.</p>

        <a routerLink="/" class="btn btn-info btn-md ml-0 peach-gradient">Inicio</a>

      </div>
    </div>
  </div>

</div>
